*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/*.bat
/gradlew
/gradle/wrapper/*.properties
/.idea/caches/*.ser
/.idea/codeStyles/*.xml
/.idea/*.xml
/app/*.pro
/gradle/wrapper/*.jar
